<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://festatic.estudy.cn/libs/element-ui/2.14.0/theme-chalk/index.css">
  </head>
  <body>
    <noscript>
      <strong>
        We're sorry but <%= title %> doesn't work properly without JavaScript
        enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
    <script src="https://festatic.estudy.cn/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://festatic.estudy.cn/libs/vue-router/3.0.2/vue-router.min.js"></script>
    <script src="https://festatic.estudy.cn/libs/vuex/3.1.0/vuex.min.js"></script>
    <script src="https://festatic.estudy.cn/libs/element-ui/2.14.0/index.js"></script>
    <script src="https://festatic.estudy.cn/libs/axios/0.18.0/axios.min.js"></script>
    <!-- built files will be auto injected -->
    <% if (process.env.TOOL_NAME == 'vite') { %>
    <script type="module" src="/src/main.js"></script>
    <% } %>
  </body>
</html>
